:root {
    --primary-color: #016E44;
    --secondary-color: #F5F5F5;
    --primary-text-color: #000000;
    --secondary-text-color: #9C9C9C;
    font-family: 'Tajawal', sans-serif;
    flex-direction: row;
}

/* Tags */
body {
    margin: 0 0 0 0;
}

main {
    padding-top: 30px;
    padding-bottom: 60px;
    justify-items: center;
}

button:hover {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #000000;
    padding: 0 0 0 0;
    width: 50%;
}

nav a {
    text-decoration: none;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
}

nav a:hover {
    cursor: pointer;
    color: var(--primary-color);
}

nav a:hover > svg path {
    fill: var(--primary-color);
}

footer {
    padding: 20px 120px 23px 120px;
    border-top: 1px solid #E4E8EE80;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0%;
    color: #767676;
    font-family: 'Tajawal', sans-serif !important;
}

/* General Classes */

.red-text {
    color: #FD280B;
}

.green-text {
    color: #0BFD14;
}

.orange-text {
    color: #FDAA0B;
}

.grey {
    background-color: #AEAEAE;
}

.left {
    direction: ltr;
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.primary-text {
    color: var(--primary-text-color);
}

.secondary-text {
    color: var(--secondary-text-color);
}

.primary-bg {
    background-color: var(--primary-color) !important;
}

.secondary-bg {
    background-color: var(--secondary-color);
}

.active {
    color: var(--primary-color);
}

.active > svg path {
    fill: var(--primary-color);
}

.inactive {
    color: var(--primary-text-color);
}

.inactive > svg path {
    fill: var(--primary-text-color);
}

.flex {
    display: flex;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-side-border{
    border-right: 1px solid #EDEDED;
}

.table-bottom-border{
    border-bottom: 1px solid #EDEDED;
}

.active-day {
    color: #FFFFFF !important;
    background-color: var(--primary-color);
}

.available-day {
    background-color: #F2F2F3;
}

.inavailable-day {
    color: #97979B !important;
}

.hidden {
    display: none !important;
}

.card-top .card-title {
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;
    color: var(--primary-text-color);
    margin-top: 0px;
    padding: 0 0 0 0;
    position: relative;
    top: 0;
    text-align: right;
    right: 0;
}

/* Custom Classes */

.day {
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.date {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.time-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 10px;
}

.time {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-image: url('profile_picture.jpg');
    background-size: contain;
}

.actions-grp {
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
    width: 263px;
}

.action-btn {
    position: relative;
    align-items: center;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 0.5px solid var(--primary-color);
    box-shadow: 0px 4px 4px 0px #0000001A;
    padding: 0 0 0 0;
    justify-items: center;
    align-items: center;
}

.translate-btn {
    position: relative;
    top: 5px;
    padding: 0 0 0 0;
    width: 40px;
    height: 40px;
    border: none;
}

.upper-header {
    background-color: #F8F9FE99;
    display: flex;
    justify-content: space-between;
    padding: 0 120px 0 42px;
    height: 80px;
    align-items: center;
    vertical-align: middle;
}

.lower-header {
    background-color: #ffffff;
    border-bottom: 1px solid #E4E8EE80;
    box-shadow: 0px 4px 4px 0px #0000000D;
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 0 120px 0 13px;
    align-items: center;
    vertical-align: middle;
}

.logo {
    height: 80px;
    width: 213px;
    background-image: url('logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -55px;
}

.time-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    width: 378px;
    height: 70px;
    border: 1px solid #0CC1133B;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.date-info {
    text-align: center;
}

/* Top Cards */

.top-cards {
    display: flex;
    align-items: center;
    justify-items: center;
}

.cards {
    width: 1298px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr !important;
    grid-auto-flow: column;
    gap: 40px;
    overflow-x: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}

.cards::-webkit-scrollbar {
    display: none;
}

.card {
    width: 182px;
    height: 102px;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 0.5px solid #016E4466;
}

.card:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.card:hover > .card-icon > svg path {
    fill: var(--primary-color);
}

.card:hover > .card-title {
    color: var(--primary-color);
}

.card-icon {
    position: relative;
    top: 11px;
    right: 15px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    direction: ltr;
    color: #ffffff;
    font-weight: 700;
    font-style: Bold;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    position: relative;
    top: 11px;
    left: 15px;
}

.card-pagination {
    width: 40.82px !important;
    height: 40px !important;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid #016E4466;
    box-shadow: 4px 6px 12px 0px #00000033;
    background-color: #ffffff;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow {
    left: 10.82px;
}

.right-arrow {
    left: -10.82px;
}

/* Section 1 */

#section-1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 1290px;
    direction: rtl;
}

#yammer-card .card-top {
    display: grid;
    grid-template-columns: 170px 430px;
    align-items: baseline;
    position: relative;
    top: 0px;
}

#yammer-card .card-top .line {
    position: relative;
    top: -5px;
    right: 15px;
    width: 430px;
    height: 0px;
    border: 2px solid #016E441A;
}

#yammer-card .card-top .card-title {
    right: -17px;
}

#yammer-card .card-content {
    height: 231px;
    background-color: #FBFBFB;
    width: 100%;
    border-radius: 15px;
    position: relative;
    right: 30px;
}

#services-card .card-top {
    display: grid;
    grid-template-columns: 106px 416px;
    align-items: baseline;
    position: relative;
    top: 0px;
}

#services-card .card-top .line {
    position: relative;
    top: -5px;
    width: 416px;
    height: 0px;
    border: 2px solid #016E441A;
}

#services-card .card-content .inner-content {
    height: 158px;
    background-color: #FBFBFB;
    width: 100%;
    display: flex;
    padding-top: 17px;
    align-items: start;
    justify-content: center;
}

#services-card .card-content .inner-content table {
    width: 100%;
}

#services-card .card-content .inner-content table tr th {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    height: 22px;
}

#services-card .card-content .inner-content table tr td {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    height: 25px;
}

.inner-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55px;
}

.inner-nav .nav-item {
    width: 50%;
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
}

.nav-item.active {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.nav-item:hover {
    cursor: pointer;
}

/* Section 2 */

#section-2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#news-card {
    width: 880px;
    height: 395px;
}

#news-card .card-top {
    display: grid;
    grid-template-columns: 141px 613px;
    align-items: baseline;
    position: relative;
    top: 0px;
}

#news-card .card-top .line {
    width: 700px;
    height: 0px;
    border: 2px solid #016E441A;
    position: relative;
    top: -5px;
}

#news-card .card-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.news-image img {
    width: 372px;
    height: 268px;
    position: relative;
    right: -75px;
}
.news-text {
    width: 578px;
    border-right: 1px solid #016E441A;
    position: relative;
    right: -75px;
}

.news-text p {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    text-align: right;
    color: var(--primary-color);
    margin: 12px 12px 0 0;
}

.news-text ul li::marker {
    color: var(--primary-color);
    font-size: 25px;
}

.news-text ul {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: right;
    color: var(--primary-text-color);
    width: 500px;
    margin-top: 15px;
}

.inner-line {
    width: 578px;
    height: 0px;
    border: 1px solid #016E4466;
}

.news {
    display: flex;
    justify-content: space-evenly;
}

#twitter-card {
    width: 377px;
    height: 365px;
}

#twitter-card .card-top {
    display: grid;
    grid-template-columns: 55px 301px;
    align-items: baseline;
    position: relative;
    top: 0px;
}

#twitter-card .card-top .line {
    width: 319px;
    height: 0px;
    border: 2px solid #016E441A;
    position: relative;
    top: -5px;
}

.twitter-image img {
    width: 377px;
    height: 145px;
}

#twitter-card .title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    text-align: right;
    color: var(--primary-text-color);
}

#twitter-card .details {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: right;
    color: var(--primary-text-color);
}

/* Section 3 */

#section-3 {
    margin-top: 30px;
    width: 1285px;
}

#section-3 .card-top {
    display: flex;
    align-items: baseline;
}

#section-3 .card-top .line {
    position: relative;
    top: 5px;
    right: 15px;
    width: 1150px;
    height: 0px;
    border: 2px solid #016E441A;
}

#section-3 .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section-3 .calendar {
    width: 438px;
    height: 410px;
    background-color: #ffffff;
    padding: 11px 11px 11px 11px;
}

.month-control {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #F2F2F3;
}

.month-control p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #19191A;
}

.month-control svg {
    cursor: pointer;
}

.side-content .inner-nav {
    height: 70px;
}

#section-3 .side-content {
    width: 742px;
    height: 410px;
    background-color: #ffffff;
}

.inner-side-content {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 340px;
}

.side-content table {
    width: 100%;
}

.side-content table tr td {
    height: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: right;
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0px 0px;
    justify-items: center;
    align-items: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 12px 12px;
    justify-items: center;
    align-items: center;
    height: 280px;
}

.week > p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #161617;
}

.days > div {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #0C0C0D;
    border-radius: 50%;
    width: 49px;
    height: 49px;
    align-items: center;
    justify-content: center;
}

/* Section 4 */

#section-4 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 62px;
}

#hi {
    width: 554px;
}

#hi .card-top {
    display: grid;
    grid-template-columns: 67px 466px;
    align-items: baseline;
    position: relative;
    top: 0px;
}

#hi .card-top .line {
    position: relative;
    top: -5px;
    right: 15px;
    width: 466px;
    height: 0px;
    border: 2px solid #016E441A;
}

#hi .card-content {
    padding: 30px 33px 104px 33px;
}

#hi .card-content h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 0 0 30px 0;
}

#hi .hi-cards {
    width: 488px;
    height: 134px;
    display: flex;
    justify-content: space-between;
    gap: 30.8px;
    align-items: center;
}

#hi .cards {
    width: 346px;
    height: 134px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr !important;
    grid-auto-flow: column;
    overflow-x: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
    gap: 20px;
    scroll-snap-type: x mandatory;
}

#hi .card {
    width: 346px;
    height: 134px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: none;
}

#hi .contact {
    width: 206px;
}

#hi .contact h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: var(--primary-text-color);
    margin: 0 0 5px 0;
    text-align: right;
}

#hi .picture, #hi .picture img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#offers {
    width: 641px;
}

#offers .card-top {
    display: grid;
    grid-template-columns: 112px 539px;
    align-items: baseline;
    position: relative;
    top: 0px;
}

#offers .card-top .line {
    position: relative;
    top: -5px;
    right: 15px;
    width: 539px;
    height: 0px;
    border: 2px solid #016E441A;
}

#offers .card-content {
    text-align: center;
    height: 344px;
}

#offers .pagination {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 8px 8px 10px;
    gap: 2px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -500px;
}

#banner-1 img {
    width: 309px;
    height: 314px;
    border-radius: 5px;
    z-index: 1;
}

#banner-2 img {
    width: 279px;
    height: 274px;
    border-radius: 5px;
}

#banner-2 {
    border-radius: 5px;
    position: relative;
    top: -295px;
    left: 60px;
    z-index: -1;
}

#banner-3 {
    width: 249px;
    height: 234px;
    border-radius: 5px;
    position: relative;
    top: -560px;
    left: -70px;
    z-index: -2;
    background-color: #EDEDFF;
}

/* Section 5 */

#section-5 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 75px;
}

#ads {
    width: 397px;
}

#ads .card-top {
    display: grid;
    grid-template-columns: 169px 208px;
    align-items: baseline;
    position: relative;
    top: 0px;
}

#ads .card-top .line {
    position: relative;
    top: -5px;
    right: 15px;
    width: 208px;
    height: 0px;
    border: 2px solid #016E441A;
}

#ads img {
    width: 397px;
    height: 171px;
}

#events {
    width: 783px;
}

#events .card-top {
    display: grid;
    grid-template-columns: 89px 674px;
    align-items: baseline;
    position: relative;
    top: 0px;
}

#events .card-top .line {
    position: relative;
    top: -5px;
    right: 15px;
    width: 674px;
    height: 0px;
    border: 2px solid #016E441A;
}

#events .card-content {
    display: grid;
    grid-template-columns: 328px 378px;
    gap: 20px;
    background-color: #49E3A81A;
    padding: 20px 20px 20px 37px;
    align-items: center;
}

#events img {
    width: 328px;
    height: 304px;
}

#events .details h6 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: var(--primary-text-color);
}

#events .details p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: var(--primary-text-color);
}

/* Section 6 */

#section-6 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 75px;
}

#studio {
    width: 616px;
}

#studio .card-top {
    display: grid;
    grid-template-columns: 167px 419px;
    align-items: baseline;
    position: relative;
    top: 0px;
}

#studio .card-top .line {
    position: relative;
    top: -5px;
    right: 15px;
    width: 419px;
    height: 0px;
    border: 2px solid #016E441A;
}

#studio .card-content {
    text-align: center;
}

#studio video {
    width: 616px;
    height: 335px;
    margin-bottom: 0;
    height: 335px;
}

#studio svg {
    z-index: 10;
    position: relative;
    top: -200px;
}

#studio svg:hover {
    cursor: pointer;
}

.pagination {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 8px 10px 8px;
    gap: 2px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -70px;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.circle-selected {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#generals, #forms {
    width: 564px;
}

#generals .card-top {
    display: grid;
    grid-template-columns: 100px 444px;
    align-items: baseline;
    position: relative;
    top: 0px;
}

#generals .card-top .line {
    position: relative;
    top: -5px;
    right: 15px;
    width: 444px;
    height: 0px;
    border: 2px solid #016E441A;
}

#generals .card-content ul li {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
}

#generals ul {
    list-style: none;
    padding-right: 0;
}

#generals ul li {
    position: relative;
    padding-right: 100px;
    padding-bottom: 40px;
    margin-bottom: 10px;
}

#generals ul li::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 114px;
    height: 81px;
    background-image: url('generals.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#forms .card-top {
    display: grid;
    grid-template-columns: 138px 406px;
    align-items: baseline;
    position: relative;
    top: 0px;
}

#forms .card-top .line {
    position: relative;
    top: -5px;
    right: 15px;
    width: 406px;
    height: 0px;
    border: 2px solid #016E441A;
}

#forms .card-content {
    margin-top: 0;
    text-align: center;
}

#forms .card-content h6 {
    position: relative;
    top: -50px;
    padding-right: 37px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: var(--primary-text-color);
}

#forms .radio {
    display: grid;
    grid-template-columns: repeat(4, 69px);
    gap: 50px;
    position: relative;
    padding-right: 37px;
    top: -60px;
}

#forms .radio label {
    cursor: pointer;
    align-items: center;
}

input[type="radio"] {
    cursor: pointer;
    position: relative;
    top: -7px;
}